.DS_Store
/.gradle
/.project
/.settings
/bin
/build
/.classpath
/filter-devkit-*/.project
/filter-devkit-*/.settings
/filter-devkit-*/bin
/filter-devkit-*/build
/filter-devkit-*/.classpath
/filter-devkit-*/filter-devkit-*/.project
/filter-devkit-*/filter-devkit-*/.settings
/filter-devkit-*/filter-devkit-*/bin
/filter-devkit-*/filter-devkit-*/build
/filter-devkit-*/filter-devkit-*/.classpath
