[Desktop Entry]
Name=Policy Studio
Icon=/home/axway/.local/share/icons/dist/policystudio.png
Exec=/opt/axway/policystudio/policystudio
Type=Application
