<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.vordel.ui.filterGUI.AssertionFilter"
         name="Filter-DevKit Filters"
         point="com.vordel.rcp.filterbase.filterGUI">
      <filter
            class="com.vordel.circuit.assertion.AssertionFilter"
            icon="images/alert_icon.gif"
            name="Assertion Filter"
            page="com.vordel.client.manager.filter.assertion.AssertionPage">
         <category
               id="com.vordel.ui.filter.category.utility" />
      </filter>
   <extension
         id="com.vordel.ui.filterGUI.AdvancedScriptFilter"
         name="Filter-DevKit Filters"
         point="com.vordel.rcp.filterbase.filterGUI">
      <filter
            class="com.vordel.circuit.script.filter.AdvancedScriptFilter"
            icon="images/javascript.gif"
            name="Advanced Script Filter"
            page="com.vordel.client.manager.filter.script.advanced.AdvancedScriptPage">
         <category
               id="com.vordel.ui.filter.category.utility" />
      </filter>
</plugin>
